* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', monospace;
  letter-spacing: 1px;
  margin: 0;
}

body.light {
  background: white;
}

body.light * {
  transition: all .25s ease;
}

body.light #options {
  position: absolute;
  right: 20px;
}

body.light .content-wrapper {
  background: white;
  border: 1px solid #aaa;
  border-radius: 25px;
  height: 100%;
  margin: 20px auto 0 auto;
  max-width: 850px;
  padding: 30px 20px 40px 20px;
}

body.light .logo {
  font-size: 60px;
  font-style: bold;
  font-weight: 800 !important;
  padding: 0 20px 0px 20px;
  text-align: center;
  width: 100%;
}

body.light .title, body.light .quote {
  color: #444;
}

body.light .title {
  border-bottom: 1px solid #ececec;
  font-size: 55px;
  font-style: bold;
  font-weight: 300 !important;
  padding: 0 20px 20px 20px;
  text-align: center;
  width: 100%;
}

body.light .quote-wrapper {
  min-height: 200px;
}

body.light .quote {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  min-height: 190px;
  outline: none;
  padding: 30px;
  text-align: center;
  width: 100%;
}

body.light .person {
  font-style: italic;
  font-weight: 400;
}

body.light .button-wrapper {
  text-align: center;
  width: 100%;
}

body.light .button-wrapper button {
  display: inline-block;
}

body.light button {
  background: transparent;
  border: none;
  border: 1px solid #1b4ca7;
  border-radius: 15px;
  color: #1b4ca7;
  display: block;
  font-size: 16px;
  margin: 0 20px;
  padding: 10px 30px;
}

body.light button.navy {
  background: transparent;
  border: 1px solid #1e1b3b;
  color: #1e1b3b;
}

body.light button.navy:hover {
  background: #1e1b3b;
  color: white;
}

body.light button.navy:active {
  background: #3a3758;
  color: white;
}

body.light button.salmon {
  background: transparent;
  border: 1px solid #a8453a;
  color: #a8453a;
}

body.light button.salmon:hover {
  background: #ff7d6f;
  color: white;
}

body.light button.salmon:active {
  background: #ff6150;
  box-shadow: inset 1px 1px 0px #b35757;
}

body.light button:hover {
  background: #4584fa;
  color: white;
  cursor: pointer;
}

body.light button:active {
  background: #3068d1;
  box-shadow: inset 1px 1px 0px #38558a;
  cursor: pointer;
}
